In [1]:
import pandas as pd
import seaborn as sns

C:\Users\Public\anaapp\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [8]:
df=pd.read_csv("scr-dataset.csv")
df

        x         y
0     1.0  1.750768
1     1.1  1.699704
2     1.2  1.607502
3     1.3  1.479060
4     1.4  1.320438
..    ...       ...
435  44.5  1.354955
436  44.6  1.523446
437  44.7  1.648505
438  44.8  1.727490
439  44.9  1.759403

[440 rows x 2 columns]

In [3]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [4]:
df["ChestPain"]=le.fit_transform(df["ChestPain"])
df["Thal"]=le.fit_transform(df["Thal"])
df["AHD"]=le.fit_transform(df["AHD"])
df=df.dropna()

In [5]:
x=df.drop("AHD",axis=1)
df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,3,145,233,1,2,150,0,2.3,3,0.0,0,0
1,2,67,1,0,160,286,0,2,108,1,1.5,2,3.0,1,1
2,3,67,1,0,120,229,0,2,129,1,2.6,2,2.0,2,1
3,4,37,1,1,130,250,0,0,187,0,3.5,3,0.0,1,0
4,5,41,0,2,130,204,0,2,172,0,1.4,1,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,298,57,0,0,140,241,0,0,123,1,0.2,2,0.0,2,1
298,299,45,1,3,110,264,0,0,132,0,1.2,2,0.0,2,1
299,300,68,1,0,144,193,1,0,141,0,3.4,2,2.0,2,1
300,301,57,1,0,130,131,0,0,115,1,1.2,2,1.0,2,1
301,302,57,0,2,130,236,0,2,174,0,0.0,2,1.0,1,1

In [6]:
x.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal
0,1,63,1,3,145,233,1,2,150,0,2.3,3,0.0,0
1,2,67,1,0,160,286,0,2,108,1,1.5,2,3.0,1
2,3,67,1,0,120,229,0,2,129,1,2.6,2,2.0,2
3,4,37,1,1,130,250,0,0,187,0,3.5,3,0.0,1
4,5,41,0,2,130,204,0,2,172,0,1.4,1,0.0,1

In [7]:
y=df["AHD"]
y

0      0
1      1
2      1
3      0
4      0
      ..
297    1
298    1
299    1
300    1
301    1
Name: AHD, Length: 299, dtype: int32

In [28]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.3,random_state=45)

In [29]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [30]:
xtrain_scaled=scaler.fit_transform(xtrain)
xtest_scaled=scaler.fit_transform(xtest)
xtrain_scaled
xtest_scaled

array([[-1.17193247,  0.42597307,  0.72486118, ...,  0.63445147,
         0.35355339,  1.23759669],
       [-0.73308335,  1.51821171,  0.72486118, ...,  0.63445147,
        -0.70710678,  1.23759669],
       [-1.64542758, -1.43083262, -1.3795745 , ..., -0.90880886,
        -0.70710678, -0.45003516],
       ...,
       [-0.72153469, -0.22937011,  0.72486118, ..., -0.90880886,
        -0.70710678, -0.45003516],
       [ 1.40341897, -1.54005648,  0.72486118, ..., -0.90880886,
        -0.70710678,  1.23759669],
       [-0.66379138, -0.33859398, -1.3795745 , ..., -0.90880886,
        -0.70710678, -0.45003516]])

In [34]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression(random_state=0)

In [35]:
model=lr.fit(xtrain_scaled,ytrain)
ypred=model.predict(xtest_scaled)

In [37]:
from sklearn.metrics import accuracy_score
acc=accuracy_score(ypred,ytest)*100
acc

80.0